$dark-blue-grey: #1c2143;
$gull-gray: #98a5b7;
$coral: #f5574a;
$big-stone: #142f41;
$havelock-blue: #5fa2db;
$carnation: #f5574a;
$white: #fff;
$picasso: #fff49f;

.container {
  border-radius: var(--button-border-radius);
  border: 2px solid var(--button-border);
  background: var(--button-background);
  color: var(--button-color);
  justify-content: center;
  transform: scale(1);
  padding: 12px 30px;
  cursor: pointer;
  font-size: 16px;
  transition: .1s;
  display: flex;
  width: 100%;
  align-items: center;

  &:active:not([disabled]) {
    transform: scale(0.9)
  }

  &.fill {
    &-dark-blue-grey {
      --button-background: #{$dark-blue-grey};
    }

    &-gull-gray {
      --button-background: #{$gull-gray};
    }

    &-coral {
      --button-background: #{$coral};
    }

    &-big-stone {
      --button-background: #{$big-stone};
    }

    &-havelock-blue {
      --button-background: #{$havelock-blue};
    }

    &-carnation {
      --button-background: #{$carnation};
    }

    &-white {
      --button-background: #{$white};
    }

    &-transparent {
      --button-background: transparent;
    }

    &-picasso {
      --button-background: #{$picasso};
    }
  }

  &.color {
    &-dark-blue-grey {
      --button-color: #{$dark-blue-grey};
    }

    &-gull-gray {
      --button-color: #{$gull-gray};
    }

    &-coral {
      --button-color: #{$coral};
    }

    &-big-stone {
      --button-color: #{$big-stone};
    }

    &-havelock-blue {
      --button-color: #{$havelock-blue};
    }

    &-carnation {
      --button-color: #{$carnation};
    }

    &-white {
      --button-color: #{$white};
    }

    &-picasso {
      --button-color: #{$picasso};
    }
  }

  &.border {
    &-dark-blue-grey {
      --button-border: #{$dark-blue-grey};
    }

    &-gull-gray {
      --button-border: #{$gull-gray};
    }

    &-coral {
      --button-border: #{$coral};
    }

    &-big-stone {
      --button-border: #{$big-stone};
    }

    &-havelock-blue {
      --button-border: #{$havelock-blue};
    }

    &-carnation {
      --button-border: #{$carnation};
    }

    &-white {
      --button-border: #{$white};
    }

    &-transparent {
      --button-border: transparent;
    }

    &-picasso {
      --button-border: #{$picasso};
    }
  }

  &.type {
    &-rounded {
      --button-border-radius: 23px;
    }

    &-rectangle {
      --button-border-radius: 15px;
      padding: 30px;
    }
  }

  &[disabled] {
    --button-background: transparent;
    --button-border: #{$gull-gray};
    --button-color: #{$gull-gray};
    transform: none;
  }
}
