$gull-gray: #98a5b7;

.container {
  justify-content: center;
  background: transparent;
  border-radius: 25px;
  align-items: center;
  transform: scale(1);
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  transition: .1s;
  display: flex;
  border: none;

  &:active:not([disabled]) {
    transform: scale(0.9)
  }

  .disabled {
    fill: #{$gull-gray};
    transform: none;
  }
}
