.container {
  min-width: 390px;

  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 10%;

  overflow: auto;

  .wrapper {
    display: flex;
    height: 100%;
    align-items: center;
    gap: 5px;
  }

  .input {
    height: 25px;
    font-size: 12px;
  }

  .icon {
    padding: 0 5px;
  }

  .plus_icon {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    transition: 10s;
  }

  .footer {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;

    .button {
      font-weight: bold;
      height: 30px;
    }
  }
}
