.frame {
  height: auto;
  width: clamp(30vw, 515px, 80vw);

  .form {
    padding: 40px 45px;

    display: flex;
    flex-direction: column;

    .row {
      display: flex;
      flex-direction: row;
      gap: 15px;
    }

    .buttons_bar {
      padding-top: 20px;
    }

    .social_bar {
      padding-bottom: 20px;
    }

    .button {
      font-weight: bold;
    }

    .divider {
      display: flex;
      flex: 0 0 auto;
      align-items: center;
      gap: 10px;
      padding: 25px 0;

      font-size: 16px;
      color: var(--bluey-grey);
      font-weight: bold;

      &:after, &:before {
        content: "";
        flex: 1 1 auto;
        height: 2px;
        background: var(--ghost);
      }
    }

    .terms {
      display: flex;
      flex-direction: row;
      gap: 10px;
      padding: 10px 0;

      .checkbox {
        width: 20px;
        height: 20px;
      }

      .terms_text {
        display: flex;
        gap: 5px;

        .text {
          display: flex;
          align-items: center;
        }

        .terms_and_conditions {
          border: none;
          background: transparent;
          font-size: 16px;
          color: var(--havelock_blue);
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
}
