.container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

  width: 100%;
  height: 146px;

  background-color: var(--big_stone);

  .block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;

    width: 100%;
    height: fit-content;
  }

  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3px;

    height: 100%;

      .social_container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
      }

      .text {
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.16px;
        color: var(--white);
        text-decoration: none;

        &.blue {
          color: var(--havelock_blue);
        }
      }
  }
}
