.container {
  display: flex;
  flex-direction: column;
  padding: 0 55px 50px;

  .form {
    display: flex;
    flex-direction: column;
    width: 330px;

    .input {
      margin-bottom: 10px;
      padding: 3px 10px;
      font-size: 12px;
    }

    .select {
      font-size: 12px;
    }
  }

  .actions {
    display: flex;
    justify-content: center;

    .item {
      display: inline-block;
      margin: 20px 15px 0;
      padding: 5px 30px;
      font-weight: bold;
      font-size: 14px;
    }
  }
}
