:root {
  --big_stone: #142f41;
  --havelock_blue: #5fa2db;
  --white: #ffffff;
  --ghost: #ced2d9;
}

.container {
  position: relative;
  width: 10px;
  height: 10px;
  display: block;

  cursor: pointer;
}

.item {
  appearance: none;
  position: absolute;
}

.checkmark:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;

  border: 1px solid var(--big_stone);
  background-color: var(--white);
  border-radius: 50%;

  position: absolute;
  z-index: 1;

  transition: border 0.1s linear;
}

.checkmark::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;

  background-color: var(--havelock_blue);
  border-radius: 50%;
  opacity: 0;

  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 2;

  transition: opacity 0.1s linear;
}

.item:checked + .checkmark::before {
  border-color: var(--havelock_blue);
}

.item:checked + .checkmark::after {
  opacity: 1;
}

.item:disabled + .checkmark::before {
  border-color: var(--ghost);
}
