.field {
  flex: 1 1 0;

  .label {
    padding: 2px 0;
    line-height: 25px;

    &.required::after {
      content: "*";
    }
  }

  .input {
    border-radius: 0;
    height: 30px;
    border-width: 1px;

    &__error {
      border-color: var(--coral);
    }
  }

  .error {
    padding: 2px 0;
    min-height: 20px;
    color: var(--coral);
    font-size: 14px;
  }
}
