.payment_failure {
  max-width: 380px;

  .close_button {

    display: flex;
    margin: 20px 20px 0 0;
    justify-content: flex-end;

    .close {
      margin-right: 0;

      & svg {
        stroke: var(--bluey-grey);
      }
    }
  }

  .circle {
    background: var(--coral);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0 auto;

    & .error {
      stroke: var(--white);
      fill: var(--white);
      width: 20px;
      height: 20px;
    }
  }

  .title {
    color: var(--coral);
    text-align: center;
    margin: 20px 0;
    font-size: 21px;
    font-weight: bold;
  }

  .body {
    padding: 0 55px;
    text-align: center;
    font-size: 14px;
  }

  .footer {
    max-width: 110px;
    margin: 35px auto 50px auto;

    & button {
      padding: 10px 40px;
    }
  }
}



