$athensGray: #e0e4e9;
$mercury: #e5e3e3;
$concrete: #f3f3f3;
$havelockBlue: #5fa2db;
$picasso: #fff49f;

@mixin webkit-scrollbar {
  &::-webkit-scrollbar {
    width: 5px;
  }
}

@mixin webkit-scrollbar-track {
  &::-webkit-scrollbar-track {
    border: solid 2px #{$athensGray};
    background: #{$athensGray};
  }
}

@mixin webkit-scrollbar-thumb {
  &::-webkit-scrollbar-thumb {
    border: solid 2px #{$havelockBlue};
    background: #5fa2db;
    border-radius: 20px;
    height: 15px;
  }
}

.register {
  height: 100%;
  min-height: 30px;
  padding-right: 5px;
  overflow: auto;

  .register_wrapper {
    position: relative;
    width: 100%;
  }

  @include webkit-scrollbar;

  @include webkit-scrollbar-track;

  @include webkit-scrollbar-thumb;

  .register_list {
    position: absolute;
    display: grid;
    width: 100%;
    left: 0;
    top: 0;

    &.register_list_bg {
      background: #{$concrete};
    }

    &.active {
      background: #{$picasso};
    }

  }

  .list_items {
    border-bottom: 1px solid #{$mercury};
    border-right: 1px solid #{$mercury};
    justify-content: flex-start;
    box-sizing: border-box;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
    display: flex;
    height: 100%;
    width: 100%;

    .list_item {
      padding: 5px 20px;
      text-align: left;
    }

    &:last-child {
      border-right: none;
    }

    .list_button {
      background: none;
      cursor: pointer;
      border: none;
    }
  }
}
