:root {
  --catskill_white: #edf0f7;
  --botticelli: #e3e7f1;
  --white: #ffffff;
  --black: #000000;
}

.option {
  display: block;
  border: none;
  width: 100%;
  padding: 10px 10px;

  background: var(--white);
  box-sizing: border-box;
  color: var(--black);
  font-weight: 400;
  text-align: left;
  cursor: pointer;
  font-size: 12px;

  &:hover {
    background-color: var(--botticelli);
  }

  &.selected {
    opacity: 0.6;
  }

  &.highlighted {
    background: var(--catskill_white);
  }
}
