.title {
  border-bottom: solid 1px var(--bluey-grey);
  padding: 20px 2%;
  font-size: 36px;

  font-weight: bold;
  color: var(--dark-blue-grey);
  text-transform: uppercase;
}

.content_container {
  display: flex;
  justify-content: center;
  padding-top: 5%;

  .content {
    display: flex;
    gap: 20px;

    .link {
      width: 100%;
      height: 100%;
      display: flex;
      text-decoration: none;

      .button {
        font-weight: bold;
      }
    }
  }
}
