:root {
  --elephant: rgba(20, 47, 65, 0.26);
}

.prompt {
  transition: opacity 0.3s;
  position: fixed;
  z-index: 1070;
  opacity: 1;

  &.hidden {
    opacity: 0;
  }

  .triangle {
    position: absolute;
  }

  .content {
    box-shadow: 0 2px 60px 0 var(--elephant);
    border-radius: 5px;
    background: white;
    padding: 10px;
  }
}

