.subscription_cancelled {
  max-width: 410px;
  width: 100%;

  .close_button {

    display: flex;
    margin: 15px 15px 0 0;
    justify-content: flex-end;

    .close {
      margin-right: 0;

      & svg {
        stroke: var(--bluey-grey);
      }
    }
  }

  .title {
    max-width: 235px;
    color: var(--dark-blue-grey);
    text-align: center;
    margin: 40px auto 30px auto;
    font-size: 21px;
    font-weight: bold;
  }

  .body {
    margin: 0 70px;
    text-align: center;
    font-size: 16px;

    & .date {
      font-weight: bold;
    }
  }

  .footer {
    max-width: 110px;
    margin: 40px auto 70px auto;

    & button {
      padding: 10px 40px;
    }
  }
}



