$havelockBlue: #5fa2db;
$lightBlueGrey: #ced2d9;
$mercury: #e5e3e3;

.header {
  margin-right: 10px;
  display: grid;

  .header_item {
    border-bottom: 1px solid #{$mercury};
    border-right: 1px solid #{$mercury};
    border-top: 1px solid #{$mercury};
    padding: 10px;
    display: flex;

    &:last-child {
      border-right: none;
    }
  }
}
