.frame{
  width: 410px;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;

  padding: 30px 75px 80px;

  .text {
    text-align: center;
    font-size: 21px;

    .email {
      font-weight: bold;
      color: var(--havelock_blue);
    }
  }
}
