.frame{
  width: 350px;
  height: 260px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;

  padding: 0 65px;

  .text {
    text-align: center;

    .email {
      font-weight: bold;
    }
  }
}
