.aside {
  background: var(--white);
  height: 100%;
  width: 260px;

  .container {
    padding: 40px 15% 40px 10%;

    .list {
      list-style: none;

      .item {
        margin-bottom: 20px;

        .link {
          display: flex;
          align-items: center;
          background: transparent;
          border: none;
          outline: none;
          text-decoration: none;
          color: var(--dark-blue-grey);
          font-size: 16px;
          cursor: pointer;
        }

        .active {
          font-weight: bold;
        }

        .icon {
          margin-right: 15px;
        }
      }
    }
  }
}
