.box {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--big_stone);

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2vw;
  }

  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 82px;
    max-width: 250px;
    text-align: center;

    height: 260px;
    padding: 0 15px;

    .text {
      color: white;
      font-weight: bold;
      font-size: 24px;
    }
  }

  .soon {
    color: var(--coral);
    letter-spacing: 3px;
    font-size: 24px;
    margin-top: 70px;

  }
}