
.navigate_register {
  display: flex;
  justify-content: flex-end;
  margin: 13px 20px;

  .clear_filter {
    font-size: 14px;
    max-width: 175px;
    padding: 0 10px;
  }

  .link_constructor {
    display: flex;
    margin-left: 10px;
    border: none;
    background: none;
  }
}
