.container {
  display: flex;
  position: relative;

  .input {
    padding-right: 30px;
  }

  .arrowIcon {
    margin-right: 5px;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
  }
}
