$pale-grey: #edf0f7;
$blue-grey: #98a5b7;

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: $pale-grey;
  border-radius: 5px;
  color: $blue-grey;
  font-size: 12px;

  .value {
    flex: 1;
    text-align: center;
  }

  .arrowLeft {
    &,
    &:focus,
    &:active,
    &:hover {
      transform: rotate(180deg);
    }
  }
}

.month {
  flex: 3;
  margin-right: 10px;

  .value {
    min-width: 55px;
  }
}

.year {
  flex: 2;
}
