$pale-grey: #edf0f7;
$blue-grey: #98a5b7;
$white: #fff;
$black: #000;
$dark-blue-grey-shadow: rgba(28, 33, 67, 0.3);

.container {
  box-sizing: border-box;
  position: fixed;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 270px;
  padding: 20px;
  background: $white;
  border-radius: 10px;
  box-shadow: 0 12px 27px 0 $dark-blue-grey-shadow;

  .paginators {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 12px;
  }

  .month {
    display: flex;
    flex-direction: column;
    width: 100%;

    .weekdays {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 8px;
      padding: 6px 0;
      background: $pale-grey;
      border-radius: 5px;
      color: $blue-grey;
      font-size: 12px;
    }

    .days {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .day {
      padding: 4px 0;
      background: $white;
      color: $black;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        background: $pale-grey;
        transition: 0.2s;
      }
      &:focus,
      &:active {
        outline: none;
      }
    }
  }
}
