:root {
  --ghost: #ced2d9;
  --white: #ffffff;
}

.options {
  position: fixed;

  display: block;
  width: 100%;
  max-height: 200px;
  margin-top: 5px;
  border: 1px solid var(--ghost);
  border-radius: 5px;

  box-shadow: 0 2px 11px 0 rgba(20, 47, 65, 0.26);
  background-color: var(--white);
  box-sizing: border-box;
  overflow-y: auto;
  z-index: 1000;
}
