:root {
  --alto: #d5d5d5;
  --white: #ffffff;
  --big_stone: #142f41;
  --gallery: rgba(239, 239, 239, 0.3);
  --black: #000000;
}

.control {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  border: 2px solid var(--alto);
  border-radius: 5px;

  background: var(--white);
  color: var(--big_stone);
  box-sizing: border-box;

  &.disabled {
    background-color: var(--gallery);
  }

  .input {
    border: none;
    background: none;
    font-weight: 400;
    font-size: 14px;
    color: var(--black);
  }

  .triangle_icon {
    margin-right: 5px;
    transition: 0.4s;

    &.open {
      transform: rotate(90deg);
    }
  }
}
