:root {
  --alto: #d5d5d5;
  --big_stone: #142f41;
  --white: #ffffff;
  --gallery: rgba(239, 239, 239, 0.3);
  --black: #000000;
}

.control_container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding-right: 5px;
  border-radius: 5px;
  border: 2px solid var(--alto);

  background: var(--white);
  color: var(--big_stone);
  box-sizing: border-box;

  &.disabled {
    background-color: var(--gallery);
  }

  .control {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .input {
      justify-content: flex-start;
      align-items: center;
      display: flex;
      flex: 1 1;
      min-width: 100px;
      padding: 5px 10px;
      border: none;

      color: var(--black);
      background: none;

      font-weight: 400;
      font-size: inherit;
    }
  }

  .triangle_icon {
    transition: 0.4s;

    &.open {
      transform: rotate(90deg);
    }
  }
}
