:root {
  --gull_gray: #98a5b7;
  --white: #ffffff;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 3px 2px;
  padding: 1px 10px;
  border-radius: 15px;

  font-size: 85%;
  background: var(--gull_gray);
  color: var(--white);

  .remove {
    padding: 0;
    cursor: pointer;

    svg {
      width: 10px;
      margin-left: 10px;
      stroke: var(--white);
    }
  }
}
