.body {
  background: var(--white);
  height: 100%;

  .container {
    width: 100%;
    padding: 60px 2%;
    color: var(--black);
    font-size: 14px;

    .title {
      margin: 0 0 45px 0;
      color: var(--black);
      font-size: 36px;
      font-weight: bold;
      text-align: center;
    }

    .subtitle {
      margin: 0 0 20px 0;
      color: var(--black);
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
    }

    .content {
      margin: 0 0 20px 0;
    }

    .strong {
      font-weight: bold;
    }

    .list {
      list-style: none;
      counter-reset: count;

      .item {
        counter-increment: count;

        .subtitle::before {
          content: counter(count) ". ";
          font-weight: bold;
        }
      }

      .sublist {
        list-style: none;
        counter-reset: count2;

        .subitem {
          counter-increment: count2;

          .content::before {
            content: counter(count2) ". ";
            display: inline-block;
            margin-right: 10px;
          }
        }
      }
    }
  }
}
