.frame {
  height: auto;
  width: clamp(30vw, 515px, 80vw);

  .form {
    padding: 40px 45px;

    display: flex;
    flex-direction: column;

    .row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 15px;
    }

    .buttons_bar {
      padding-top: 20px;
    }

    .social_bar {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding-bottom: 20px;
    }

    .button {
      font-weight: bold;
    }

    .divider {
      display: flex;
      flex: 0 0 auto;
      align-items: center;
      gap: 10px;
      padding: 25px 0;

      font-size: 16px;
      color: var(--bluey-grey);
      font-weight: bold;

      &:after, &:before {
        content: "";
        flex: 1 1 auto;
        height: 2px;
        background: var(--ghost);
      }
    }

    .action_button {
      background: transparent;
      border: none;

      font-size: 16px;
      color: var(--havelock_blue);
      font-weight: bold;
      cursor: pointer;
    }

    .forgot_password {
      padding: 15px 0;
    }

    .sign_up {
      gap: 5px;
      padding-top: 5px;
    }
  }
}
