.container {
  width: 100%;
  height: 94px;
  background-color: var(--big_stone);
  padding: 0 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.sticky {
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .right_section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
}
.icon {
  fill: white;

  &:hover {
    fill: var(--havelock-blue);
  }
}
.link {
  text-decoration: none;
}
