.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;

  gap: 5px;

  .head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: none;
    background: transparent;
    cursor: pointer;

    padding: 0;

    .title {
      font-size: 18px;
      text-align: left;
    }

    &:hover {
      opacity: 0.6;
    }
  }

  .content {
    overflow: hidden;
  }
}
