.container {
  width: 60vw;
  max-width: 400px;
  margin: 2% 0;

  display: flex;
  flex-direction: column;
  gap: 24px;

  .plus{
    display: flex;
    justify-content: flex-end;
  }

  .footer {
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding: 0 5%;

    .button {
      font-weight: bold;
    }
  }
}
