.group {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .country {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;

    .dots {
      width: 30px;
      height: 100%;
      top: 2%;
      left: 99%;
      display: grid;
      place-items: center;
      position: absolute;
      margin-left: 10px;
    }
  }
}
.delete {
  font-size: 14px;
  font-weight: bold;
  width: 70px;
  height: 30px
}