$headerHeight: 50px;

.frame {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.4);
  height: 100vh;
  width: 100vw;

  .container {
    min-height: 1px;
    min-width: 1px;
    max-width: calc(100vw - 20px);
    max-height: calc(100vh - 20px);
    background: #fff;
    position: relative;
    box-shadow: 0 2px 69px 0 rgba(20, 47, 65, 0.39);

    .header {
      min-height: $headerHeight;
      flex: 0 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .title {
        margin-top: 50px;
        font-style: normal;
        font-weight: bold;
        font-size: 21px;
        line-height: normal;
        letter-spacing: 0.21px;
        text-align: center;
        color: #000;
      }

      .close {
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
      }
    }

    .content {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      max-height: inherit;
      min-height: inherit;
    }
  }
}
