$havelockBlue: #5fa2db;
$lightBlueGrey: #ced2d9;
.sort {
  justify-content: center;
  flex-direction: column;
  display: flex;

  .sort_button {
    color: #{$havelockBlue};
    justify-content: center;
    align-items: center;
    background: none;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    border: none;
    padding: 0 5px;
    margin-left: 5px;
  }

  .triangle_icon {
    height: 10px;
    width: 12px;
    fill: #{$havelockBlue};

    &_active {
      fill: #{$lightBlueGrey};
    }
  }
}
