.container {
  position: relative;
  top: -1px;
  display: flex;

  .buy {
    fill: white;
    font-weight: bold;
    font-size: 60px;
    letter-spacing: 4px;
  }

  .create {
    font-size: 18px;
    fill: white;
  }

  .currency {
    font-size: 23px;
    fill: #F5574A;
  }

  .number {
    font-size: 150px;
    font-weight: bold;
    fill: #F5574A;
  }

  .document {
    font-size: 23px;
    fill: white;
    letter-spacing: 0.50px;
  }
}


