.container {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    height: fit-content;
  
    .card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1;
      width: 100%;
      min-width: 350px;
      padding: 10px 25px 10px 20px;
      background: var(--white);
  
      .content {
        margin-right: 10px;
  
        .title {
          color: var(--dark-blue-grey);
          font-size: 16px;
          font-weight: bold;
        }
  
        .text {
          color: var(--bluey-grey);
          font-size: 14px;
        }
  
        .password {
          margin-bottom: -10px;
          color: var(--bluey-grey);
          font-size: 21px;
          font-weight: 300;
          letter-spacing: 7px;
        }
      }
  
      .action {
        margin-left: 10px;
  
        .button {
          color: var(--havelock_blue);
          font-size: 14px;
          background: transparent;
          border-color: transparent;
          outline: none;
          cursor: pointer;
        }
      }
    }
}
