@import "src/styles/mixins";


.button_earth {
  display: flex;
  align-items: center;
  margin: 0 auto;

  svg {
    width: 20px;
    height: 20px;
  }
}

.countries_options {

  width: 100%;
  max-height: 200px;
  box-sizing: border-box;
  overflow-y: auto;

  @include webkit-scrollbar;

  @include webkit-scrollbar-track;

  @include webkit-scrollbar-thumb;

  .countries_option {
    display: block;
    border: none;
    width: 100%;
    padding: 10px 10px;
    border-radius: 5px;
    background: var(--white);
    box-sizing: border-box;
    color: var(--black);
    font-weight: 400;
    text-align: left;
    cursor: pointer;
    font-size: 12px;

    &:hover {
      background-color: var(--botticelli);
    }
  }
}