.popup_links {
  padding: 0 20px 40px 20px;
  width: 320px;
}

.title {
  margin-bottom: 20px;
  text-align: center;

  .title_links {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .document_name {
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
  }
}