.template {
  &__icon {
    margin: 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }
}

.popup_publish {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    padding: 5px;
    font-size: 16px;
  }

  .switch {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .button {
    font-weight: 600;
    padding: 5px 15px;
    margin: 5px;
    font-size: 12px;
  }
}