@mixin webkit-scrollbar {
  &::-webkit-scrollbar {
    width: 5px;
  }
}

@mixin webkit-scrollbar-track {
  &::-webkit-scrollbar-track {
    border: solid 2px var(--athens-gray);
    background: var(--athens-gray);
  }
}

@mixin webkit-scrollbar-thumb {
  &::-webkit-scrollbar-thumb {
    border: solid 2px var(--havelock_blue);
    background: #5fa2db;
    border-radius: 20px;
    height: 15px;
  }
}