@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(fonts/Montserrat-Regular.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(fonts/Montserrat-Light.ttf) format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(fonts/Montserrat-Bold.ttf) format('truetype');
  font-weight: bold;
}
