:root {
  --coral: #f5574a;
  --big_stone: #142f41;
  --havelock_blue: #5fa2db;
  --white: #ffffff;
  --ghost: #ced2d9;
  --dark-blue-grey: #1c2143;
  --bluey-grey: #98a5b7;
  --porcelain: #E7EAEC;
  --light-blue-grey:#ced2d9;
}
