:root {
  --havelock_blue-rgb: rgba(95, 162, 219, 0.4);
  --havelock_blue: #5fa2db;
  --ghost: #ced2d9;
  --regent_gray: #929aa1;
  --cool_grey_40: rgba(146, 154, 161, 0.4);
}

.switch {
  position: relative;
  width: 30px;
  height: 12px;
  border-radius: 5px;
  background-color: var(--havelock_blue-rgb);
}

.input {
  position: absolute;
  display: none;

  &:checked + .slider {
    background-color: var(--havelock_blue-rgb);

    &::before {
      left: calc(100% + 2px);
      transform: translateX(-100%);
      background-color: var(--havelock_blue);
    }
  }
}

.slider {
  position: relative;
  display: flex;
  cursor: pointer;
  width: 30px;
  height: 12px;
  border-radius: 150px;
  background-color: var(--cool_grey_40);

  &::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    top: -3px;
    border-radius: 50%;
    background-color: var(--regent_gray);
  }
}

.input:disabled + .slider {
  background: var(--cool_grey_40);
}
.input:disabled + .slider::before {
  background-color: var(--regent_gray);
}
