:root {
  --mercury: #e5e3e3;
  --havelock-blue: #5fa2db;
}

.tab {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;

  .tab_list {
    display: flex;
    border-bottom: 1px solid var(--mercury);
    margin-bottom: 25px;
  }

  .tab__panel {
    position: relative;
    overflow-x: hidden;
  }

  .tab__item {
    box-sizing: content-box;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    height: 18px;
    opacity: 0.9;
    font-size: 14px;
    font-weight: bold;
    text-align: center;

    &_active {
      color: var(--havelock-blue);
      border-bottom: 2px solid var(--havelock-blue);
    }
  }
}
