.frame {
  height: auto;
  width: clamp(30vw, 515px, 80vw);

  .form {
    padding: 40px 70px;

    display: flex;
    flex-direction: column;

    .text {
      text-align: center;
      padding-bottom: 15px;
    }

    .row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 15px;
    }

    .buttons_bar {
      padding-top: 20px;
    }

    .button {
      font-weight: bold;
    }
  }
}
