.button {
  font-weight: bold;

  .container {
    display: flex;
    flex-direction: row;
    gap: 15px;

    .text {
      line-height: 1.5em;
      font-weight: bold;
      color: var(--white);
    }
  }
}
