.frame {
  height: auto;
  width: clamp(30vw, 410px, 80vw);

  .container {
    padding: 35px 70px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .text {
      text-align: center;
      padding-bottom: 30px;
    }

    .buttons_bar {
      width: fit-content;
    }

    .button {
      font-weight: bold;
    }
  }
}
