.content {
  display: flex;
  flex-direction: column;
  height: calc(100% - 55px);

  .actions {
    display: flex;
    justify-content: flex-end;
    margin: 0 12px 25px 0;
  }

  .register {
    height: calc(100% - 49px);
    margin-bottom: 5vh;
  }
}

.popup_button {
  font-size: 14px;
  font-weight: bold;
  width: 70px;
  height: 30px;
}
