.menu {
  display: flex;
  justify-content: flex-end;
  margin: 40px 400px 0 0;
}

.container {
  min-width: 407px;

  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 75px;

  overflow: auto;

  .form {
    display: flex;
    flex-direction: column;

    .input {
      margin-top: 10px;
      min-width: 260px;
      font-size: 12px;
    }
  }

  .footer {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 35px;
    margin-top: 20px;

    .button {
      font-weight: 700;
      height: 30px;
    }
  }
}
