.frame {
  height: auto;
  width: clamp(30vw, 410px, 80vw);

  .form {
    padding: 40px 70px 60px;

    display: flex;
    flex-direction: column;

    .row {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }

    .buttons_bar {
      padding-top: 35px;
    }

    .button {
      font-weight: bold;
    }
  }
}
