$alto: #D5D5D5;
$big-stone: #142f41;

.inputArea {
  border: 2px solid #{$alto};
  box-sizing: border-box;
  color: #{$big-stone};
  font-weight: normal;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
  display: flex;
  resize: none;
  width: 100%;

  &:focus {
    outline: none;
  }

}
