$grid-columns: 12;
$space: 10rem;


.block {
    width: 96%;
    padding: 50px;
    padding-bottom: 25px;
    margin-left: 33px;
    background-color: #ffffff;


    .h2_DoNotMiss {
        width: 65%;
        margin-bottom: 35px;
        font-size: 21px;
        font-weight: bold;
        font-style: normal;
        color: var(--dark-blue-grey);
    }

    .container {
        position: relative;
    }
    
    .container::after {
        position: absolute;
        content: '';
        height: 2px;
        background-color: var(--light-blue-grey);
        left: 0;
        right: 0;
    }

    .h3_monthlySubscription {
        width: 300px;
        font-size: 18px;
        margin-bottom: 7px;
        font-weight: bold;
        font-style: normal;
        color: var(--dark-blue-grey);
    }

    .content {
        margin-bottom: 25px;

        .get {
            width: 80%;
            font-size: 16px;
            color: #142f41;

            .money_equivalent {
                font-size: 14px;
                color: #142f41;
                font-weight: bold;
            }
        }
    
    }

    .subscribe_wrapper {
        display: 'flex';
        flex-direction: 'column';
        width: 100%;
        padding: 0px;
        margin-left: 0px;
    

        .subscribe {
         /*
         @include subscription_button
         */
         display: flex;
         padding: 0px;
         border-radius: 0px;
         color: var(--havelock_blue);
         background: transparent;
         border-color: transparent;
         outline: none;
         cursor: pointer;
         font-size: 18px;
         font-weight: bold;
         text-align: left;
         color: #5fa2db;

         width: 7%;
         margin-left: 0%;
         margin-top: 30px;
         margin-bottom: 0;

        .Close_Wrapper {
            
            .Close_btn {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                }
            }
        }
    }    
}

.container2 {

    .h3_asubscription {
        width: 70%;
        margin-top: 50px;
        margin-bottom: 2px;
        font-size: 18px;
        font-weight: bold;
        color: var(--dark-blue-grey);
    }

    .content {
        margin-bottom: 25px;

        .span_save33 {
            width: 40%;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: normal;
            color: var(--coral);
            margin-top: 57px;

            .span_saveAnd {
                width: 50%;
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                color: var(--dark-blue-grey);
            }
        }
    }

    .AnnualSubscription {
        padding: 0px;
        padding-bottom: 30px;
        width: 7%;

        .subscribe2 {
            display: flex;
            padding: 0px;
            border-radius: 0px;
            color: var(--havelock_blue);
            background: transparent;
            border-color: transparent;
            outline: none;
            cursor: pointer;
            font-size: 18px;
            font-weight: bold;
            text-align: left;
            color: #5fa2db;
        }
    }
}
