.body {
  max-width: 1635px;
  margin: 0 auto;
  height: 100%;

  .register {
    height: calc(100% - 90px);
    font-size: 12px;
    margin: 10px 20px;
    border-bottom: 2px solid var(--mercury);
  }

  .datepicker {
    flex: 1 1 auto;

    &__item {
      margin: 0 auto;
    }
  }


  .tag_name {
    padding: 5px 0 5px 20px !important;
  }

  .downloads {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;

    &_item {
      margin-left: auto;
    }
  }

  .link {
    margin: 0 auto;
  }
}


